<h1>Search results</h1>

<% if @results.present? %>
  <% @results.each do |r| %>
    <%if r.class == Artist%>
        <p><%= link_to("#{r.name}", artist_path(r)) %> (artist)</p>
      <%elsif r.class == Venue%>
        <p><%= link_to("#{r.name}", venue_path(r)) %> (venue)</p>
      <%elsif r.class == Gig%>
        <p><%= link_to("#{r.name}", gig_path(r)) %> (gig)</p>
    <%end%>
  <% end %>
<% else %>
  <p>Could not find matches containing the term(s): <%= params[:search] %>.</p>
<% end %>