<h1>Booking Page </h1>

<p>You are booking seats for INSERT GIG NAME</p>

<%= form_for @booking do |f| %>
    <%= f.label :seats %>
    <%= f.text_field :seats %>
    <br>
    <%= f.submit 'Book seats!' %>
  <% end %>