<h1>Gig Ticket Booker homepage</h1>

<p>List gigs</p>
<p>List artists</p>
<p>List venues</p>
<p>List by keyword search</p>

<nav>
  <ul>
    <li><%= link_to('List artists', artists_path) %></li>
  </ul>
</nav>