<h1>List of venues taking part in 2016 Edinburgh Festival</h1>

<% @venues.order(:name).each do |venue| %>
  <p><%= link_to("#{venue.name}", venue_path(venue)) %> <%= link_to('(Edit)', edit_venue_path(venue)) %></p>
<% end %>