<div class='list_container'>
  <h1>List of gigs:</h1>

  <% @gigs.order(:name).each do |gig| %>
    <p><%= link_to("#{gig.name}", gig_path(gig)) %> 
    <% if can? :create, Gig %> 
      <%= link_to('(Edit)', edit_gig_path(gig)) %>
    <% end %>
    </p>
  <% end %>
</div>